<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCpVO1y2B9NzLGfPsAYH_XSk0CWNHS7SY</string>
	<key>GCM_SENDER_ID</key>
	<string>585253598319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangonw.k-kambu</string>
	<key>PROJECT_ID</key>
	<string>k-kambu</string>
	<key>STORAGE_BUCKET</key>
	<string>k-kambu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585253598319:ios:ebaa2c7e7ee2f236b8499a</string>
</dict>
</plist>